tasks.db
/build
/dist
/src/__pycache__
__pycache__
*.log
Tasker.exe
Tasker.exe.tmp
/utils/__pycache__
/utils/__pycache__
utils/__pycache__/logger.cpython-310.pyc
utils/__pycache__/version.cpython-310.pyc
utils/__pycache__/logger.cpython-310.pyc
*.pyc
